@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kanit&family=Nova+Square&family=Pacifico&family=Ubuntu&display=swap');

@media (min-width: 768px) {
    
    
    
    
    
    
    
}



@media (max-width: 768px) {
    
    .galerymenu {
        
    }
    
    .galeryisi {
        padding: 5px;
        margin: 10px;
        background: #fb1515;
        width: 200px;
        height: 250px;
        border-radius: 10px;
    }
    
    .galeryisi > img {
        width: 95%;
        border-radius: 10px;
    }
    
    .galeryisi > p {
        color: #fff;
        font-size: 15px;
        font-family: 'Kanit', sans-serif;
    }
    
    
    
    
}
